.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "head head"
  "nav cnt";
}

.header {
  grid-area: head;
  background: lightgreen;
}

.header img {
  width: 50px;
}

.nav {
  grid-area: nv;
  background: green;
}

.content {
  grid-area: cnt;
  background: navy;
}