.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsList {
padding: 10px;
}

.dialogsItem {
padding: 10px;
color: #fff;
}

.dialogsList .active {
color: gold;
}

.messages {
padding: 10px;
}

.message {
padding: 10px;
color: #fff;
}
/* .nav {
  grid-area: nav;
  background: green;
}

.navList { 
  list-style-type: none;
}

.item a {
  color: #fff;
}

.item.active a{
  color: gold;
} */